
.card {
    background: var(--main-color);
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    margin: 20px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
}

.card:hover {
transition: color 1s;
}

.card:hover:before, .card:hover:after {
animation: none;
opacity: 0;
}
  
  
.card::before {
content: "";
width: 104%;
height: 102%;
border-radius: 8px;
background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
position: absolute;
content: "";
top: calc(var(--card-height) / 6);
left: 0;
right: 0;
z-index: -1;
height: 100%;
width: 100%;
margin: 0 auto;
transform: scale(0.8);
filter: blur(calc(var(--card-height) / 6));
background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
transition: opacity .5s;
animation: spin 2.5s linear infinite;
}
  
@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}


.static_card {
    margin: 1rem;
    padding: 1rem;
    width: var(--card-width);
    height: var(--card-height);
    color: white;
    display: flex;
    
    position: relative;
    background-color: gray;
    border-radius: 10px;
  }
  
.bg-blur {
overflow: hidden;
background-color: transparent;
}

.bg-blur::before {
content: '';
background-image: var(--bg-image);
background-size: cover;
height: 100%;
width: 100%;
position: absolute;
filter: blur(30px);
z-index: -1;
}

.center{

    text-align: center;
    align-items: center;
    justify-content: center;
}