table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/*TODO*/
/*:only-child:not(svg,drag-icon,#drag) {*/
/*    margin-left: 1rem;*/
/*}*/

[horizontal] {
    margin-right: 10px;
    display: inline-block;
}

:not(div) {
    width: content-box;
}


[drag_right] {
    border-right: solid 4px lightblue;
    transition: border-right 0.3s;
}

[drag_on] {
    background: lightblue;
    transition: background 0.3s;
}

[drag_below] {
    border-bottom: solid 4px lightblue;
    transition: border-bottom 0.3s;
}

#drag {
    background: #ffffff;
    position: absolute !important;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

#drag:hover {
    color: black;
    background: #ffffff;
    transition: background 0.3s;
}


h1, h2, h3, h4, h5, h6, span, p {
    draggable: true;
}


h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}


[contenteditable] {
    outline: 0;
}

[contenteditable]:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: #919191;
}

.text_editor {
    padding-left: 10%;
    margin-right: 10%;
}


[empty]:before {
    color: #ababab;
    content: "Place holder is here.";
}

ul, #myUL {
list-style-type: none;
}

#myUL {
margin: 0;
padding: 0;
}
