@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

:root {
--color: #ffffff;
--main-color: #191c29;

/* violet */
--primary-color: 111, 76, 255;

/* white */
--text-color: 256, 256, 256;

--ground: #1D1E22;

--card-height: 65vh;
--card-width: calc(var(--card-height) / 1.5);

--bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

.light-mode{
--color: #000000;
--main-color: #dedede;
/* violet */
--primary-color: rgb(73, 27, 255);

/* white */
--text-color: black;

--ground: #d5d5d5;
}

body {
    background-color: var(--ground);
    color: rgb(var(--text-color));
    font-family: sans-serif;
    font-size: 1.5rem;
}

button{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-radius: 50px;
}

button:hover {
    transition: all 0.3s ease;
}


.glow:hover {
box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.gradient {
background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
border: 0;
color: rgba(var(--text-color));
}

.gradient-border {
    color: rgba(var(--text-color));
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.primary {
background-color: var(rgb(--primary-color));
border: 1px solid var(rgb(--primary-color));
color: var(--text-color);
}



.semi-transparent:hover {
    background-color: rgba(var(--primary-color), 0.35);
    border: 1px solid rgba(var(--primary-color), 0.5);
    color: rgba(var(--text-color), 0.9);
}


.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
  }